.container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
    height: 400px;
    width: 1000px;
    border: 1px solid black;
    /* grid-template-areas: "header header header header" "main main . sidebar" "footer footer footer footer"; */
}
.item{
    /* width: 100px;
    height: 100px; */
    border: 1px solid black;
    background-color: brown;
    align-items: center;
    text-align: center;
    align-content: center;
    color: white;
}
.item1{
    grid-column: 1/5;
}
.item2{
    
}
.item3{
    grid-column:2/5 ;
    grid-row: 2/3;
}
.item4{
   grid-column: 1/5; 
}